<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/chat.css" type="text/css">
</head>
<body>
   <div class="container">
    

    
                                            <!--LEFT SIDE-->



    <div class="leftSide">
       <div class="header">
            <div class="imgText">
                <div class="userimg">
                    <img src="public/img/medpart.jpg" class="cover"alt="">
                </div> 
                <h4>Magang update<br></h4>
            </div> 
            <div class="hamburger-list">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
    
            </div>
        </div>
        
        <!--chatbox-->
        <div class="chatBox">
            <div class="message my-message">
                <p>Hi<br><span>12:15</span></p>
            </div>
            <div class="message find-message">
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Architecto debitis consectetur 
                    reprehenderit! Dicta pariatur quos nemo quod 
                    cumque vero eos in perferendis quidem? Reprehenderit harum 
                    accusantium quo exercitationem 
                    praesentium possimus?<br><span>12:15</span></p>
            </div>
            <div class="message my-message">
                <p>Hi<br><span>12:15</span></p>
            </div>
            <div class="message find-message">
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Architecto debitis consectetur 
                    reprehenderit! Dicta pariatur quos nemo quod 
                    cumque vero eos in perferendis quidem? Reprehenderit harum 
                    accusantium quo exercitationem 
                    praesentium possimus?<br><span>12:15</span></p>
            </div>
            <div class="message my-message">
                <p>Hi<br><span>12:15</span></p>
            </div>
            <div class="message find-message">
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Architecto debitis consectetur 
                    reprehenderit! Dicta pariatur quos nemo quod 
                    cumque vero eos in perferendis quidem? Reprehenderit harum 
                    accusantium quo exercitationem 
                    praesentium possimus?<br><span>12:15</span></p>
            </div>
            <div class="message my-message">
                <p>Hi<br><span>12:15</span></p>
            </div>
            <div class="message find-message">
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Architecto debitis consectetur 
                    reprehenderit! Dicta pariatur quos nemo quod 
                    cumque vero eos in perferendis quidem? Reprehenderit harum 
                    accusantium quo exercitationem 
                    praesentium possimus?<br><span>12:15</span></p>
            </div>
            <div class="message my-message">
                <p>Hi<br><span>12:15</span></p>
            </div>
            <div class="message find-message">
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Architecto debitis consectetur 
                    reprehenderit! Dicta pariatur quos nemo quod 
                    cumque vero eos in perferendis quidem? Reprehenderit harum 
                    accusantium quo exercitationem 
                    praesentium possimus?<br><span>12:15</span></p>
            </div>
        </div>

        <!--chat-info-->
        <div class="chat-info">
            <button></button>
            <div class="btn-right">
                <ion-icon name="mic-outline"></ion-icon>
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </div>
            
        </div>
    <!--chat input-->
    <div class="chatbox-input">
        <input type="text" placeholder="Type a message">   
        <ion-icon name="send-outline"></ion-icon>
    </div> 
    </div>



                                                        <!--RIGHT SIDE-->



    <div class="rightSide" class="slide">
        <div class="header">
           <!-- <div class="userimg">
            <img src="public/img/user.jpg" class="cover"alt="">
           </div> 
           <ul  class="nav-icons">
            <li><ion-icon name="scan-circle-outline"></ion-icon></li>
            <li><ion-icon name="chatbox"></ion-icon></li>
            <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
           </ul> -->
           <div class="search-chat">
            <div>
                <input type="text" placeholder="Search or start new chat">
                <ion-icon name="search-outline"></ion-icon>
            </div>
        </div>
        <div class="selectWrapper">
            <select class="selectBox">
            <option >All</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
          </div>
            
        </div>


       
        <!--Search-->
        <!-- <div class="search-chat">
            <div>
                <input type="text" placeholder="Search or start new chat">
                <ion-icon name="search-outline"></ion-icon>
            </div>
        </div> -->
        <!--chat list-->
        <div class="chatlist">
            <div>

            </div>
            <div class="block active">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Hakim</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe lohe</p>
                        <b></b>
                    </div>
                </div>
            </div>
            <div class="block unread">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Nur</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>lah lah lah lah lah lah lah lah lah lah lah lah lah lah lah lah lah lah lah lah</p>
                        <b>1</b>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="imgbx">
                    <img src="public/img/medpart.jpg" class="cover" alt="">
                </div>
                <div class="details">
                    <div class="listHead">
                        <h4>Rahman Alif</h4>
                        <p class="time">10:56</p>
                    </div>
                    <div class="message_p">
                        <p>ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng ngeng </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
   </div>
   
   

   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script src="public/js/chat.js" type="text/javascript"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>